name: Build & Publish (gh-pages)

on:
  push:
    branches: [ main ]
    paths-ignore:
      - ".github/assets/**"
      - "README.md"
  workflow_dispatch:
  repository_dispatch:
    types: [ site-template-updated ] 

jobs:
  call-central:
    uses: Academic-Codex/academic-codex.github.io/.github/workflows/build-site.yml@main
    with:
      execute: "false"
      repo_cfg_path: ".github/scripts/repo.yml"
      template_repo: "Academic-Codex/academic-codex.github.io" 
    secrets: inherit